<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
	<title>DAE-ITESMCCV</title>

	{# Incluimos los links para bootstrap y jquery #}
	{% include 'links.html' %}
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
	<div id="navbar-main">
		<!-- Fixed navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-accessibility" style="font-size:30px; color:#3498db;"></span>
					</button>

					<a class="navbar-brand hidden-xs hidden-sm" href="#home" ><span class="icon icon-accessibility" style="font-size:18px; color:#3498db;"					></span></a>
				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#home" class="smoothScroll">Home</a></li>
						<li><a href="#reportes" class="smoothScroll">Reportes</a></li>
						<li><a href="#puntaje" class="smoothScroll">Sistema de Puntaje</a></li>
						<li><p class=" pull-right"><a href="logout_admin.php" class="navbar-link"><u><span class="glyphicon glyphicon-log-out"></span></u></a></p></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<!-- ==== HEADERWRAP ==== -->
	<div id="headerwrap" id="home" name="home"> <!-- Imagen central en id headerwrap -->
		<header class="clearfix">

			<!-- ==== PORTFOLIO ==== -->
			<div class="container" id="portfolio" name="portfolio">

				<div class="row">
					<br /><br />
					<h2>DAE |<small>Sistema de Validación de Logros-Actvidades</small></h2>
					<hr>
					<br>
				</div><!-- /row -->
				<div class="container">
					<div class="row">

						{% for category in categories %}
							{% include 'portfolio-image_admin.twig' %}
							{% include 'portfolio-model_admin.twig' %}

							{# Creamos los models para actualizar las observaciones #}
							{% for rev in category.rev_wait %}
								{% include 'model_observaciones.twig' %}
							{% endfor %}
						{% endfor %}

					</div><!-- /row -->
				</div><!-- /col -->
				<br><br>
			</div><!-- /container -->
		</div><!-- /container -->     
	</header>	    
</div>
<!-- /headerwrap -->

<!-- Reportes -->
<div id="greywrap">
	<div class="container" id="reportes" name="reportes">
		<div class="row white">

			<h1 class="centered">Reportes</h1>
			<hr>

			<div  class="centered" class="col-lg-6">
				<br><br><br>

				<select name="tipo">
					<option selected>Vista de Reportes</option>
					<option>Por Alumno</option>
					<option>Por Generacion</option>
					<option>Por Estatus</option>
					<option>Por Actividad/Evento</option>
					<option>Por Periodo</option>
					<option>Por Rango/Puntage</option>
				</select>
				<br><br><br><br><br><br>
			</div><!-- col-lg-6 -->

			<div class="col-lg-6">

				<!-- Columna derecha en blanco -->
			</div><!-- col-lg-6 -->
		</div><!-- row -->
	</div><!-- container -->
</div>
<!-- fin de reportes -->

<!-- Puntaje -->
<div class="container" id="puntaje" name="puntaje">
	<div class="row white">

		<h1 class="centered">Sistema de Puntaje General</h1>
		<hr>

		<div class="col-lg-6">
			<br><br><br><br><br><br>
		</div><!-- col-lg-6 -->

		<div class="col-lg-6">
			<!-- Columna derecha en blanco -->
		</div><!-- col-lg-6 -->
	</div><!-- row -->
</div><!-- container -->
<!-- fin de puntaje -->

<div id="footerwrap">
	<div class="container">
		<h4>Created by <a>Eduardo Aurioles - Daniel Durán - Emilio Moreno</a> - Copyright 2014</h4>
	</div>
</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/retina.js"></script>
	<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="assets/js/smoothscroll.js"></script>
	<script type="text/javascript" src="assets/js/jquery-func.js"></script>
</body>
</html>
