<!-- PORTFOLIO TWIG -->
<div class="col-md-4">
	<div class="grid mask">
		<figure>
			<div class="recent-work-wrap">
				<img class="img-responsive" src="assets/img/portfolio/img_{{category.id}}.png" alt="">
				<div class="overlay">
					<div class="recent-work-inner">
						<h2 style="color:#fff"><strong>{{category.name}}</strong></h2>
						{{category.message}}<br>
						<a data-toggle="modal" href="{{category.href}}" rel="prettyPhoto"><br><br><span class="icon icon-drawer-2" style="font-size:30px; color:#FFF"  ></span></a>
					</div> 
				</div>
			</div>
		</figure><!-- /figure -->
	</div><!-- /grid-mask -->
</div><!-- /col -->